// Mixins in here

.btn-mixin(@width, @font-color, @size, @pad, @align, @color-bk, @radius) {
  width: @width;
  color: @font-color;
  font-size: @size;
  padding: @pad;
  text-align: @align;
  background: @color-bk;
  border-radius: @radius;
}

.home {
  .content-pick {
    .destination {
      .btn {
        transition: 0.3s;
        &:hover {
          background: @white;
          color: @eastern-blue;
          border: 2px solid @eastern-blue;
        }
        .btn-mixin(85%, @white, 1.8rem, 15px, center, teal, 10px);
        @media @mobile {
          .btn-mixin(100%, @white, 1.8rem, 13px, center, @eastern-blue, 15px);
        }
      }
    }
  }
}
