// Navigation Styles here

.nav-content {
  nav {
    max-width: 800px;
    width: 100%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media @mobile {
      flex-direction: column;
      margin: 1rem auto;
    }
    h1 {
      @media @mobile {
        font-size: 3rem;
        margin: 2rem auto;
      }
    }
    ul {
      font-size: 1.6rem;
      display: flex;
      flex-direction: row;
      li {
        margin: 0 2rem;
      }
    }
  }
  border-bottom: 2px dashed @navigation-border;
}

